@import 'https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico|Poiret+One';
@import 'https://fonts.googleapis.com/css?family=Jura:600';
@import 'https://fonts.googleapis.com/css?family=Orbitron';
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: #131326;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.container-fluid {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
}

#content-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#firstpage {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#header {
    height: 100%;
    background-color: #030318;
    min-width: 45px;
    width: 45px;
    float: left;
    margin: 0;
    padding: 0;
    display: inline-block;
}

#stagingarea {
    height: 100%;
    background-color: #101034;
    border-left: 2px solid white;
    border-right: 2px solid white;
    min-width: 274px;
    width: 320px;
    margin: 0;
    padding: 0;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}

#stagingareaheader {
    margin-top: 20px;
    height: 30px;
    width: auto;
    font-family: 'Jura', sans-serif;
    position: relative;
    z-index: 9;
}

#stagingareaheader p {
    margin-left: 2px;
    margin-right: 5px;
    text-align: center;
    border-bottom: 2px solid white;
    color: white;
    letter-spacing: 0.2em;
}

#mainarea {
    height: 100%;
    background-color: #101034;
    margin: 0;
    padding: 0;
    color: white;
    display: inline;
}

#mainarea-inner {
    background-color: #101034;
    height: 100%;
}

#mainarea-inner-header {
    //widht: 100%;
    height: 43px;
    //height: 6.3vh;
    padding-top: 5px;
    border-bottom: 2px solid white;
    margin-left: 330px;
    margin-right: 6px;
    font-family: 'Jura', sans-serif;
}

#mainarea-inner-content {
    height: calc(100% - 42px);
    //height: calc(100% - 7.3vh);
    //border: 1px solid white;
    //border: 2px solid green;
    margin-left: 330px;
    margin-right: 6px;
    margin-top: 1px;
    overflow-y: auto;
    overflow-x: hidden;
}

#content-textarea {
    height: 99%;
    width: 100%;
    //height: calc(100% - 7.3vh);
    border: 1px solid white;
    //border: 2px solid green;
    //margin-left: 330px;
    margin-right: 6px;
    margin-top: 1px;
    overflow-y: auto;
    overflow-x: hidden;
}

#deletearticle {
    border: 2px solid rgb(26, 28, 75);
    background-color: rgb(26, 28, 75);
    height: 30px;
    width: 30px;
    border-radius: 15px;
    float: right;
    margin-right: 8px;
    padding-top: 3px;
    padding-left: 3px;
}


/*#deletearticle:hover {
    background-color: white;
}

#deletearticle:hover .glyphicon.glyphicon-resize-full {
    //font-size: 20px;
    color: #b5b5df;
}*/

#deletearticle:active {
    background-color: white;
}

#deletearticle:active .glyphicon.glyphicon-resize-full {
    //font-size: 20px;
    color: rgb(26, 28, 75);
}

#column-wrap {
    overflow: hidden;
    height: 100%;
}

#header-turnoff {
    position: absolute;
    bottom: 7px;
    height: 30px;
    width: 30px;
    margin-left: 7px;
    padding-left: 6px;
    //border: 1px solid white;
    border-radius: 15px;
    padding-top: 3px;
    background-color: rgb(26, 28, 75);
}


/*#header-turnoff:hover {
    background-color: white;
}

#header-turnoff:hover .glyphicon.glyphicon-log-out {
    color: rgb(26, 28, 75);
}*/

#header-turnoff:active {
    background-color: white;
}

#header-turnoff:active .glyphicon.glyphicon-log-out {
    color: rgb(26, 28, 75);
}

#header-branding {
    //position: absolute;
    margin-top: 10px;
    margin-left: 1px;
    padding: 0;
    height: 42px;
    width: 42px;
    //border: 1px solid white;
    background-color: white;
    border-radius: 21px;
    display: block;
    //padding-left: 5px;
}

#header-branding a {
    height: 42px;
    width: 42px;
    background-image: url("../../images/github.png");
    background-size: cover;
    display: block;
}

#header-new {
    margin-top: 20px;
    margin-left: 7px;
    height: 30px;
    width: 30px;
    //border: 1px solid white;
    display: block;
    align-content: center;
    padding-left: 6px;
    border-radius: 15px;
    padding-top: 4px;
    background-color: rgb(26, 28, 75);
}


/*#header-new:hover {
    background-color: white;
}

#header-new:hover .glyphicon.glyphicon-plus {
    //font-size: 20px;
    color: rgb(26, 28, 75);
}*/

#header-new:active {
    //background-color: rgb(26, 28, 75);
    background-color: white;
}

#header-new:active .glyphicon.glyphicon-plus {
    //font-size: 20px;
    //color: white;
    color: rgb(26, 28, 75);
}

#header-search {
    margin-top: 15px;
    margin-left: 7px;
    height: 30px;
    width: 30px;
    //border: 1px solid white;
    display: block;
    align-content: center;
    border-radius: 15px;
    padding-left: 3px;
    padding-top: 3px;
    background-color: rgb(26, 28, 75);
}

#header-search:active {
    //background-color: rgb(26, 28, 75);
    background-color: white;
}

#header-search:active .glyphicon.glyphicon-search {
    //font-size: 20px;
    //color: white;
    color: rgb(26, 28, 75);
}

.glyphicon.glyphicon-resize-full {
    font-size: 15px;
    color: white;
}

.glyphicon.glyphicon-log-out {
    font-size: 20px;
    color: white;
}

.glyphicon.glyphicon-plus-sign {
    font-size: 30px;
    color: white;
}

.glyphicon.glyphicon-plus {
    font-size: 20px;
    color: white;
}

.glyphicon.glyphicon-search {
    font-size: 22px;
    color: white;
}

.glyphicon.glyphicon-info-sign {
    font-size: 30px;
    color: white;
}

.glyphicon.glyphicon-floppy-remove {
    font-size: 18px;
    color: white;
}

.glyphicon.glyphicon-floppy-save {
    font-size: 18px;
    color: white;
}

.glyphicon.glyphicon-trash {
    font-size: 18px;
    color: white;
}

#deletearticle:active {
    //background-color: #b5b5df;
    background-color: white;
}

#deletearticle:active .glyphicon.glyphicon-trash {
    //font-size: 18px;
    //color: white;
    color: rgb(26, 28, 75);
}

#savearticle {
    border: 2px solid rgb(26, 28, 75);
    //background-color: #b5b5df;
    background-color: rgb(26, 28, 75);
    height: 30px;
    width: 30px;
    border-radius: 15px;
    float: right;
    margin-right: 8px;
    padding-top: 4px;
    padding-left: 5px;
}

#savearticle:active {
    background-color: white;
}

#savearticle:active .glyphicon.glyphicon-floppy-save {
    color: rgb(26, 28, 75);
}

#cancelchangedarticle {
    border: 2px solid rgb(26, 28, 75);
    background-color: rgb(26, 28, 75);
    height: 30px;
    width: 30px;
    border-radius: 15px;
    float: right;
    margin-right: 8px;
    padding-top: 4px;
    padding-left: 5px;
}

#cancelchangedarticle:active {
    background-color: white;
}

#cancelchangedarticle:active .glyphicon.glyphicon-floppy-remove {
    //font-size: 18px;
    color: rgb(26, 28, 75);
}

#searcharticle-div {
    height: 100%;
    //background-color: #c9c9e8;
    background-color: #2e2e52;
    //background-color: red;
    //border-left: 2px solid white;
    //border-right: 2px solid white;
    //min-width: 274px;
    width: 0px;
    margin: 0;
    padding: 0;
    margin-top: -50px;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    //visibility: collapse;
    position: relative;
    z-index: 10;
}

#searcharticle-div.in {
    //width: 320px;
    width: 100%;
    position: relative;
    z-index: 10;
}

#searcharticle-div form input {
    color: white;
    background-color: #2e2e52;
    border-right-style: none;
    border-top-style: none;
    border-left-style: none;
    border-bottom-style: 1px solid rgb(102, 102, 99);
    width: 85%;
    font-family: 'Jura', sans-serif;
    //font-family: 'Orbitron', sans-serif;
}

#findarticle .glyphicon.glyphicon-search {
    font-size: 20px;
}

#findarticle {
    float: right;
    margin-top: -33px;
    margin-right: -5px;
    //border: 2px solid rgb(26, 28, 75);
    background-color: rgb(26, 28, 75);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    padding-top: 9px;
    padding-left: 9px;
}

#findarticle:active {
    background-color: white;
}

#findarticle:active .glyphicon.glyphicon-search {
    color: rgb(26, 28, 75);
}

#searcharticle-div-header {
    width: 95%;
    margin-top: 20px;
    margin-left: 7px;
    //border-bottom: 2px solid rgb(102, 102, 99);
    padding-left: 0px;
}

#newarticle-div-inner {
    width: 100%;
    height: 100%;
    background-color: #d2d2ec;
}

#dumpanddoneheader {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid white;
    //display: block;
    //padding-top: 1.5%;
    //padding-bottom: 2%;
    padding-top: 5px;
}

#writingarea {
    border: 1px solid white;
    width: 100%;
    height: calc(100% - 49px);
    margin-top: 1px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#saveanddone {
    border: 2px solid rgb(26, 28, 75);
    //background-color: #b5b5df;
    background-color: rgb(26, 28, 75);
    height: 30px;
    width: 30px;
    border-radius: 15px;
    float: right;
    margin-right: 8px;
    padding-top: 1px;
    padding-left: 3.5px;
}

.glyphicon.glyphicon-check {
    font-size: 20px;
    color: white;
}

#saveanddone:active {
    background-color: white;
}

#saveanddone:active .glyphicon.glyphicon-check {
    //font-size: 18px;
    color: rgb(26, 28, 75);
}

#editarticle {
    border: 2px solid rgb(26, 28, 75);
    //background-color: #b5b5df;
    background-color: rgb(26, 28, 75);
    height: 30px;
    width: 30px;
    border-radius: 15px;
    float: right;
    margin-right: 8px;
    padding-top: 2px;
    padding-left: 3px;
}

.glyphicon.glyphicon-edit {
    font-size: 20px;
    color: white;
}

#editarticle:active {
    background-color: white;
}

#editarticle:active .glyphicon.glyphicon-edit {
    //font-size: 18px;
    color: rgb(26, 28, 75);
}

.row {
    height: 100%;
}

body.mceContentBody {
    background: #000;
}

@media only screen and (max-width: 780px) {
    #mainarea {
        display: none;
    }
    #stagingarea {
        width: 100%;
    }
}

@media only screen and (min-width:320px) and (max-width: 600px) {}


}
